# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName acsaa.org
AuthUserFile /home/acsaaorg/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/acsaaorg/public_html/_vti_pvt/service.grp
